/* Brendon Ewing
September 19
*/
header{
    background-color:blueviolet
}
footer{
    background-color:blueviolet
}
p{
    font-size: 20px
}
ul{
    font-size: 20px
}
li{
    font-size: 20px
}
a:link {
    color:darkred
}
a:visited {
    color:white
}
a:hover {
    color:gold
}
a:active {
    color:dodgerblue
}